.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.container-row {
  display: flex;
  padding-bottom: 16px;
}

.container-row label {
  padding-right: 8px;
}

.slider-container {
  display: flex;
  height: 500px;
  width: 100%;
  background-color: aquamarine;
}

.left-action {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100%;
  text-align: center;
   display: flex;
    align-items: center;
}

.right-action {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  text-align: center;
  display: flex;
    align-items: center;
}

.slider-body {
  display: flex;
  height: 100%;
  width: 100%;
}

.slider-body img {
  display: flex;
  width: 100%;
}

.arrow {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
}